header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--primary-transparent);
  min-width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

header img {
  max-width: 3%;
}

.dividing_line_1,
.dividing_line_2 {
  margin: 4rem auto;
  min-width: 90vw;
  align-self: center;
}

.dividing_line_1 {
  border-top: 2px solid var(--dividing_line_1);
}

.dividing_line_2 {
  border-top: 2px solid var(--dividing_line_2);
}
