.main_noPage {
  background-color: var(--warning);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  justify-content: center;
}

.noPage_title,
.lama_container {
  color: var(--primary);
}

.lama_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.lama_container img {
  max-width: 20%;
}

.lama_container_Link {
  background-color: var(--success);
  padding: 1rem;
  border: 3px solid var(--white);
  border-radius: 50px;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  box-shadow: 10px 10px 10px solid var(--white);
}
